<div class="container">
    <div class="page-header">
        <h1>Album list</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-if="$ctrl.isAdmin">
            <div class="thumbnail" ng-click="$ctrl.createAlbum()">
              <img src="../dist/img/album.png" alt="album">
              <div class="caption">
                  <h3>New album</h3>
                  <a href class="album__btn_add">
                      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  </a>
              </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4" ng-repeat="album in $ctrl.albums">
            <div class="thumbnail" >
                <img src="../dist/img/album.png" alt="album">
                <div class="caption">
                    <div class="caption__content">
                        <h3>{{album.album_name}}</h3>
                        <p>({{album.year}})</p>
                    </div>
                    <div class="caption__settings">
                        <a href ng-click="$ctrl.openAlbum(album)" class="album__btn_options">Show</a>
                        <a href ng-if="$ctrl.isAdmin" ng-click="$ctrl.updateAlbum(album)" class="album__btn_options">Update</a>
                    </div>
                </div>
                <a href ng-if="$ctrl.isAdmin" ng-click="$ctrl.deleteAlbum(album, $index)" class="album__btn_delete"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
</div>

