<h1>Album Detail</h1>
<hr>
<a href ng-click="$ctrl.closeDialog()" class="album__item-btn_close"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
<form name="albumForm" novalidate>
    <div class="albumform__item">
        <div class="category__item_label">Album name</div>
        <div class="albumform__item_input" ng-class="{'albumform__item_with-error': albumForm.name.$invalid && albumForm.name.$touched && albumForm.name.$error}">
            <input class="input" type="text" name="name" ng-model="$ctrl.album.album_name" ng-maxlength="200" required>
            <div class="tooltip tooltip_error" ng-show="albumForm.name.$error.required && albumForm.name.$invalid && albumForm.name.$touched">You need to fill the album name</div>
            <div class="tooltip tooltip_error" ng-show="albumForm.name.$error.maxlength">The album name is too long </div>
        </div>
    </div>
    <div class="albumform__item">
        <div class="category__item_label">Year</div>
        <div class="albumform__item_input" ng-class="{'albumform__item_with-error': albumForm.year.$invalid && albumForm.year.$touched && albumForm.year.$error.maxlength}">
            <input class="input" type="text" name="year" ng-model="$ctrl.album.year" pattern="\d*" maxlength="4" minlength="4" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
            <div class="tooltip tooltip_error" ng-show="albumForm.year.$error.required && albumForm.year.$invalid && albumForm.year.$touched">You need to fill the album year</div>
            <div class="tooltip tooltip_error" ng-show="albumForm.year.$error.minlength && albumForm.year.$invalid && albumForm.year.$touched">You need to fill the album year like 'yyyy'</div>
        </div>
    </div>

    <h2>Tracks:</h2>
    <hr>
    <div class="container container__tracks">
        <div class="row">
             <div class="col-sm-6 col-md-4" ng-repeat="track in $ctrl.album.tracks">
                 <div class="track__card">
                     <a href ng-click="$ctrl.deleteTrack($index)" class="album__item-btn_close"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                     <track-form-component track="track"></track-form-component>
                 </div>
             </div>
             <div class="col-sm-6 col-md-4">
                <div class="track__card">
                     <a href class="track__btn_add" ng-click="$ctrl.addTrack()">
                      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                </div>
             </div>
        </div>
    </div>
    <div class="albumForm__submitbtn">
        <a href  ng-click="$ctrl.saveAlbum()" ng-disabled="albumForm.$invalid">Save album   <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
    </div>

</form>